.container {
  display: block;
}

.item {
  display: flex;
  flex-wrap: wrap;
}

.item > h2 {
  width: 100%;
}

.item > img {
  flex: 0 1 300px;
  margin: 0 40px 40px 0;
}

.item > div {
  margin-bottom: 40px;
}

@media(max-width: 800px) {
  .item > img {
    margin: 0;
    margin-bottom: 20px;
  }
}