.container {
  grid-area: section;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-gap: 30px;
  margin: 40px 20px;
}

.teamContainer {
  background: white;
  width: 100%;
  height: 300px;
  box-shadow: #BDBDBD 1px 1px 2px;
  border-radius: 2px;
  transition: transform 150ms ease-out;
  text-decoration: none;
  cursor: pointer;
}

.teamContainer:hover {
  transform: scale(1.025);
}

.teamContainer > img {
  width: 100%;
  height: 250px;
  border-radius: 2px 2px 0 0;
  object-fit: cover;
}

.teamContainer > h3 {
  margin-left: 10px;
  color: #353535;
}

.header {
  grid-area: header;
  margin: 40px 20px 0;
}