.students {
  display: block;
}

.students > h2 {
  width: 100%;
  text-align: center;
}

.carousel {
  width: 100%;
  display: flex;
  overflow: hidden;
}

.carousel > img {
  flex: 0 0 auto;
  background: pink;
  width: 250px;
  height: 250px;
  margin: 0 25px;
  transform: translateX(-125px);
}