.container {
  grid-area: section;
  display: grid;
  width: 1360px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-gap: 20px;
  margin: 20px;
  min-height: 550px;
}

.selectorContainer {
  display: flex;
  margin: 10px 0;
  width: 456px;
  justify-content: space-between;
}