.header {
  grid-area: header;
  display: block;
  margin: 40px 20px 0;
}

.section {
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.section > h2 {
  grid-column: 1 / 3;
}

.values {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.values > h2 {
  width: 100%;
  margin-bottom: 20px;
}

.valueContainer {
  max-width: 300px;
  margin: 0 auto 40px;
}

.icon {
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom right, #0097A7, #BB6BD9);
  border-radius: 100%;
  margin: auto auto 20px auto;
  display: flex;
}

.icon > img {
  width: 60%;
  margin: auto;
}