.container {
  grid-column: 1 / 4;
  height: 40px;
  width: 160px;
  padding: 0 8px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 20px 20px 20px auto;
  display: flex;
  justify-content: space-around;
}

.default {
  width: 10px;
  height: 10px;
  border: 3px solid white;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.active {
  width: 10px;
  height: 10px;
  background-color: white;
  border: 3px solid white;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.previous {
  width: 10px;
  height: 10px;
  background-color: white;
  background-clip: content-box;
  border: 3px solid transparent;
  display: block;
  margin: auto;
  border-radius: 10px;
}