.eventContainer {
  display: grid;
  grid-gap: 20px;
  max-width: 1200px;
  grid-template-columns: 3fr 1fr;
  margin: 40px 20px;
}

.eventContainer > article {
  padding: 40px;
  background: white;
  box-shadow: #757575 1px 1px 2px;
  border-radius: 2px;
}

.eventContainer > img {
  min-height: 200px;
  height: 100%;
  width: 100%;
  object-fit: contain;
  background: white;
  box-shadow: #757575 1px 1px 2px;
  border-radius: 2px;
}

@media (max-width: 800px) {
  .eventContainer {
    margin: 20px 10px;
    grid-gap: 10px;
  }

  .eventContainer > article {
    padding: 15px;
  }
}

@media (max-width: 500px) {
  .eventContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
  }
}