.navItems {
  margin-top: 0;
  color: white;
  font-size: 24px;
  font-family: 'Roboto Condensed';
  list-style: none;
  padding: 0 40px 0 0;
  text-shadow: none;
  position: sticky;
  top: 80px;
}

.navItems > li {
  margin-bottom: 32px;
}

.buttonContainer {
  padding: 5px 0;
  position: sticky;
  top: 20px;
}