.header {
  grid-area: header;
  margin: 40px 20px 0;
}

.section {
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.section > img {
  background: none;
  min-height: 0;
  max-height: 500px;
  width: 100%;
  height: auto;
  box-shadow: none;
}

.gamePieces {
  display: flex;
  flex-wrap: wrap;
}

.gamePieces > h2 {
  width: 100%;
}

.gamePieces > img {
  flex: 0 1 300px;
  margin: 0 40px 40px 0;
  background-color: pink;
}

.gamePieces > div {
  margin-bottom: 40px;
}

@media(max-width: 800px) {
  .section {
    grid-template-columns: 1fr;
  }

  .gamePieces > img {
    margin: 0;
  }
}