.header {
  grid-area: header;
  display: block;
  width: 1360px;
  margin: 40px auto 0;
}

.section {
  width: 1280px;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr;
}

.section > img {
  background: none;
  box-shadow: none;
}

.gamePieces {
  width: 1280px;
  grid-gap: 40px;
  grid-template-columns: auto 1fr;
}

.gamePieces > h2 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.gamePieces > img {
  margin: auto;
  width: 300px;
  height: 300px;
}