.gameContainer {
  display: block;
}

.gamePieces {
  display: flex;
  flex-wrap: wrap;
}

.gamePieces > h2 {
  width: 100%;
}

.gamePieces > img {
  flex: 0 1 300px;
  margin: 0 40px 40px 0;
  background-color: pink;
}

.gamePieces > div {
  margin-bottom: 40px;
}

@media(max-width: 800px) {
  .gamePieces > img {
    margin: 0;
    margin-bottom: 20px;
  }
}