.selectContainer {
  margin-right: 100%;
  margin-bottom: 10px;
  background: white;
  border-bottom: 2px solid #BDBDBD;
  width: 254px;
  height: 20px;
  padding: 2px 2px 2px 0;
  background: url("/Images/DownArrow.png") no-repeat right #fff;
  transition: border-bottom 150ms ease-in-out;
  cursor: pointer;
}

.selectContainer:hover {
  border-bottom: 2px solid #0097A7;
}