.container {
  display: flex;
  flex-direction: column;
  height: 30px;
  width: 30px;
  justify-content: space-around;
  margin-bottom: 20px;
  padding: 0;
  cursor: pointer;
}

.bar {
  height: 4px;
  border-radius: 2px;
  background-color: white;
  display: block;
}

@media (max-width: 1000px) {
  .container {
    margin-bottom: 0;
  }
}