.section {
  grid-gap: 40px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.section > h2 {
  grid-column: 1 / 3;
}

.members {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.members > h2 {
  width: 100%;
}

.teamNumber {
  margin-top: auto;
  padding: 10px
}

.stats {
  margin: auto;
}

.stats > p {
  margin: 15px 0;
}

.teamContainer {
  flex: 1 1 600px;
  margin: 20px 0;
  display: grid;
  grid-template-areas:
    "img heading"
    "img heading"
    "img paragraph";
}

.teamContainer > h3 {
  line-height: 1.05;
}

.teamContainer > img {
  grid-area: img;
  width: 150px;
  height: 150px;
  background: pink;
  margin: auto 20px auto auto;
  box-shadow: #757575 1px 1px 2px;
}