.members {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.members > h2 {
  width: 100%;
}

.teamNumber {
  margin-top: auto;
  padding: 10px
}

.statContainer {
  display: grid;
  grid-gap: 20px;
  padding: 0 20px 40px;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.statContainer div {
  background: white;
  padding: 40px;
  box-shadow: #757575 1px 1px 2px;
}

.teamContainer {
  flex: 1 1 600px;
  margin: 20px 0;
}

.teamContainer > h3 {
  line-height: 1.05;
}

.teamContainer > img {
  float: left;
  border-radius: 50%;
  shape-outside: circle(50%);
  grid-area: img;
  width: 150px;
  height: 150px;
  background: pink;
  margin: auto 20px auto auto;
  box-shadow: #757575 1px 1px 2px;
}

@media (max-width: 800px) {
  .teamContainer > img {
    margin: 0 20px 10px 0;
  }

  .statContainer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .teamContainer > img {
    float: none;
  }

  .teamContainer {
    text-align: center;
  }
}

@media (max-width: 800px) {
  .statContainer {
    padding: 0 10px 20px;
  }

  .statContainer div {
    padding: 20px;
  }
}