.container {
  grid-template-areas:
    'header header'
    'col1 col2';
  min-width: 1280px;
  grid-column-gap: 180px;
}

.container > h2 {
  grid-area: header;
}

.col1 {
  grid-area: col1;
  display: flex;
  flex-direction: column;
}

.col1 > textarea {
  width: 100%;
}

.input {
  width: 100%;
}

.col1 > input {
  width: 100%;
}

.col2 {
  grid-area: col2;
}

.map {
  width: 100%;
  height: 300px;
  background: pink;
}