.container {
  grid-template-areas:
    'header header'
    'col1 col2';
  width: 1280px;
  grid-gap: auto;
}

.background {
  background-image: url('/Images/svg/WigglyBit2.svg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

iframe {
  border: 2px solid #BDBDBD;
}

.heading {
  margin-bottom: 10px;
}

.container > h2 {
  grid-area: header;
}

.col1 {
  grid-area: col1;
}

.input {
  width: 100%;
}

.col1 > textarea {
  width: 100%;
}

.col2 {
  grid-area: col2;
  margin-left: auto;
}