.container {
  grid-template-areas:
    'header header'
    'form info';
  grid-gap: auto;
}

iframe {
  border: 2px solid #BDBDBD;
}

.heading {
  margin-bottom: 10px;
}

.container > h2 {
  grid-area: header;
}

.form {
  grid-area: form;
}

.input {
  width: 100%;
}

.form > textarea {
  width: 100%;
}

.info {
  grid-area: info;
  margin-left: auto;
}