body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Roboto Condensed';
  color: white;
  font-size: 96px;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-family: 'Roboto Condensed';
  color: #353535;
  font-size: 72px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: 'Roboto Condensed';
  color: #0097A7;
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

p {
  font-family: 'Fira Sans';
  color: #757575;
  font-size: 24px;
  max-width: 620px;
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 160px auto 40px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header nav"
    "gap section nav"
    "footer footer footer";
}

section {
  background: white;
  padding: 40px;
  margin: 20px;
  box-shadow: #BDBDBD 2px 2px 2px;
  display: block;
  max-width: 1280px;
  grid-area: section;
  display: flex;
  justify-content: space-between;
}

nav {
  grid-area: nav;
  background-color: #353535;
  position: fixed;
  display: block;
  width: 40px;
  height: 100%;
  right: 0;
}