body {
  margin: 0;
  padding: 0;
  background-color: #F2F2F2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-family: 'Roboto Condensed';
  color: white;
  font-size: 72px;
  font-weight: bold;
  line-height: 1.1;
  margin: 0;
}

h2 {
  font-family: 'Roboto Condensed';
  color: #353535;
  font-size: 56px;
  font-weight: bold;
  margin: 0;
}

h3 {
  font-family: 'Roboto Condensed';
  color: #0097A7;
  font-size: 32px;
  margin: 0;
}

h4 {
  font-family: 'Roboto Condensed';
  color: white;
  font-size: 36px;
}

h5 {
  font-family: 'Roboto Condensed';
  margin: 0;
  color: #353535;
  font-weight: normal;
  font-size: 26px;
}

p {
  font-family: 'Fira Sans';
  color: #757575;
  font-size: 20px;
  max-width: 620px;
  margin: 0;
}

main {
  background-image: url('/Images/svg/WigglyBit2.svg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr auto;
  grid-template-rows: minmax(80px, auto) auto 1fr;
  grid-template-areas: 
    "header nav"
    "section nav"
    "footer nav";
}

hr {
  height: 2px;
  background: #BDBDBD;
  width: 60%;
  border: none;
  margin: 30px 0;
}

section {
  background: white;
  padding: 40px;
  margin: 40px 20px;
  box-shadow: #757575 1px 1px 2px;
  border-radius: 2px;
  max-width: 1280px;
  grid-area: section;
  display: grid;
}

section > img {
  width: 100%;
  height: 100%;
  min-height: 500px;
  border-radius: 2px;
  background: pink;
  box-shadow: #757575 1px 1px 2px;
}

nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.2);
  display: block;
  padding: 20px;
  right: 0;
}

label {
  font-family: 'Roboto Condensed';
  display: block;
  padding-left: 4px;
}

textarea {
  margin-bottom: 10px;
  font-family: 'Fira Sans';
  width: 450px;
  font-size: 14px;
  padding: 2px 2px 2px 4px;
  border: none;
  border-bottom: 2px solid #BDBDBD;
  transition: border 150ms ease-in-out;
  resize: none;
  background: none;
}

textarea:hover {
  border-bottom: 2px solid #0097A7;
}

input {
  margin-bottom: 10px;
  font-family: 'Fira Sans';
  width: 450px;
  height: 20px;
  font-size: 14px;
  padding: 2px 2px 2px 4px;
  border: none;
  border-bottom: 2px solid #BDBDBD;
  transition: border-bottom 150ms ease-in-out;
}

input:hover {
  border-bottom: 2px solid #0097A7;
}

input:focus {
  border-bottom: 2px solid #0097A7;
}

input[type='submit'] {
  height: 40px;
  width: 120px;
  margin-top: 10px;
  border-radius: 25px;
  font-family: 'Fira Sans';
  font-size: 20px;
  color: white;
  background: linear-gradient(to bottom right, #0097A7, #BB6BD9);
  box-shadow: #757575 1px 1px 1px;
  border: none;
}

input[type='tel'] {
  width: 250px;
}

select {
  background: transparent;
  font-family: 'Fira Sans';
  color: #757575;
  border: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  -webkit-appearance: none;
  border-radius: 0;
  cursor: pointer;
}

.wrapper {
  grid-area: section;
  margin: auto;
}